.logbut{
    background-color: beige;
}

.div1{
    background-color:#F9FBFB;
    height: 500px;
    
}
.container{
    background-color: #FFFFFF;
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
body{
        background-color:#F9FBFB;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
h1{
    padding-top: 35px;
}
.Forgot{
    color: blue;
}
.logbut{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    width: 170px;
    height: 25px;
}
::placeholder{
    font-size: 10px;
    padding-left: 5px;
}
