body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    background-color: #2A2E3E;
    padding: 20px;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 15px;
}

/* HEADER SECTION */
.header {
    background-color:#2A2E3E;
    padding: 40px;
    height: 260px;
}

.header-text {
    float: left;
    color: white;
}

.header-text h1 {
    font-size: 45px;
    margin-bottom: 5px;
}

.header-text p {
    font-size: 20px;
    margin-top: 0;
}

.resume-btn {
    background-color: #e27a3f;
    border: none;
    padding: 12px 20px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.header-img {
    float: right;
    width: 200px;
    margin-top: -20px;
}

/* CLEAR FLOAT */
.header::after {
    content: "";
    display: block;
    clear: both;
}

/* WORK SECTION */
.work-heading {
    text-align: left;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 35px;
}

.work-boxes {
    margin-top: 20px;
    padding-left: 150px;
}

.box {
    width: 250px;
    height: 200px;
    float: left;
    margin-right: 20px;
    text-align: center;
    padding-top: 40px;
    border-radius: 5px;
    color: white;
}

.box1 {
    background-color: #0d745a;
}

.box2 {
    background-color: #1c2536;
}

.box3 {
    background-color: #1c2536;
}

/* CLEAR FLOAT */
.work-boxes::after {
    content: "";
    display: block;
    clear: both;
}

/* ABOUT SECTION */
.about-heading {
    margin-left: 40px;
    margin-top: 60px;
    font-size: 35px;
}

.about-section {
    padding: 40px;
}

.about-left {
    float: left;
    width: 45%;
}

.about-right {
    float: right;
    width: 45%;
}

/* CLEAR FLOAT */
.about-section::after {
    content: "";
    display: block;
    clear: both;
}
